[project]
	description = Full Text Search Library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tiago Natel de Moura (tiago4orion)
[access "refs/for/refs/*"]
	read = group user/Tiago Natel de Moura (tiago4orion)
	push = group user/Tiago Natel de Moura (tiago4orion)
	label-Code-Review = -2..+2 group user/Tiago Natel de Moura (tiago4orion)
	label-Verified = -1..+1 group user/Tiago Natel de Moura (tiago4orion)
	rebase = group user/Tiago Natel de Moura (tiago4orion)
	removeReviewer = group user/Tiago Natel de Moura (tiago4orion)
	submit = group user/Tiago Natel de Moura (tiago4orion)
[access "refs/heads/*"]
	read = group user/Tiago Natel de Moura (tiago4orion)
	create = group user/Tiago Natel de Moura (tiago4orion)
	push = +force group user/Tiago Natel de Moura (tiago4orion)
	pushMerge = group user/Tiago Natel de Moura (tiago4orion)
[access "refs/tags/*"]
	push = +force group user/Tiago Natel de Moura (tiago4orion)
	pushTag = group user/Tiago Natel de Moura (tiago4orion)
	pushSignedTag = group user/Tiago Natel de Moura (tiago4orion)
